// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.create_user{
  width:100%;
  margin: 0 auto;  
}

.text {
  width:60%;
  height:140px;
  float:left;
}

.text p{
  font-size:12px;
  font-weight:bold;
  margin-left:30%;
  margin-top:25%;
}

.create_user .form{
width:200px;
 margin: 0 auto;  
}

.create_user .form .actions{
  margin-left:65px;
  margin-top:20px;
}

.inakage {
 width:40%;
  height:140px;
  float:left;
}


.inakage img{
width:60px;
  margin-left:20%;
  margin-top:22%;
}


.clear {
  clear:both;
}

