<div class = "create_user">
    <div class = "text">
      <p>次の質問に答えてください。</p>
    </div>
    <div class = "inakage">
      <img src = "/inakage.png">
    </div>
    <div class = "clear">
    </div>



<div class = "form">
<%= render 'form' %>
</div>
</div>