// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.create_user{
  width:30%;
  margin: 0 auto;  
}

.text {
  width:65%;
  height:200px;
  float:left;
}

.text p{
  font-size:15px;
  font-weight:bold;
  margin-left:20%;
  margin-top:25%;
}

.create_user .form{
width: 300px;
  margin-left:60px;
}

.inakage {
 width:35%;
  height:200px;
  float:left;
}

.inakage img{
 width: 66px;
  margin-left:16%;
  margin-top:27%;
}


.clear {
  clear:both;
}

.column5{
  width:1200px;
}
.column1{
  width:360px;
  float:left
}

.userlist {
  margin-bottom:50px;
  height:700px;
  font-size:15px;
  width:330px
}

