<!DOCTYPE html>
<html>
<head>
  <title>KMD2015s</title>
  <%= stylesheet_link_tag "smart_phone/application", :media => "all" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
